    <!-- Placed at the end of the document so the pages load faster -->
    <!-- <script src="http://code.jquery.com/jquery-latest.js"></script> -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.0/jquery-ui.min.js"></script>    
    <script type="text/javascript" src="//platform.twitter.com/widgets.js"></script>
    <script src="<%= config.base_path %>bootstrap/js/bootstrap.min.js"></script>
    <!--<script type="text/javascript" src="<%= config.base_path %>javascripts/jquery.scrollstop.min.js"></script>-->
    <!--<script type="text/javascript" src="<%= config.base_path %>javascripts/respond.min.js"></script>-->
    <!--<script type="text/javascript" src="<%= config.base_path %>javascripts/jquery.masonry.js"></script>-->
    <script type="text/javascript" src="<%= config.base_path %>javascripts/jquery.lazyload.min.js"></script>
    <script type="text/javascript" src="<%= config.base_path %>javascripts/jquery.infinitescroll.js"></script>
    <script type="text/javascript" src="<%= config.base_path %>javascripts/application.js"></script>
    <script type="text/javascript" src="<%= config.base_path %>javascripts/map.js"></script>
  </body>
</html>
