<% include includes/header %>
    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container-fluid">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="<%= config.base_path %>">#<%= config.app_title %></a>
          <div class="nav-collapse collapse">
            <!--
            <p class="navbar-text pull-right">
              Logged in as <a href="#" class="navbar-link">Username</a>
            </p>
            -->
            <ul class="nav">
              <li><a href="<%= config.base_path %>">Home</a></li>
              <!-- <li><a href="<%= config.base_path %>mappa">Mappa</a></li> -->
              <li><a href="<%= config.base_path %>cos_e">Info</a></li>
              <li class="active"><a href="<%= config.base_path %>credits">Applausi</a></li>
              <li><a href="<%= config.base_path %>video">Video</a></li>
              <li><a href="<%= config.base_path %>help">Sei candidato? Aggiungi il tuo nome!</a></li>


              <!-- <li><a href="#contact">Contact</a></li> -->
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

	<div class="container-fluid">
		<div class="row-fluid">
			<div class="span12">
				<div class="hero-unit">
					<h1>Rispetto e gratitudine per:</h1>
				</div>
				<div class = "row-fluid">

					<div class = "span2">
						<strong>Chi è</strong>
						<p><a href = "https://twitter.com/tagnoloni">Tommaso Agnoloni</a></p>
						<p><a href = "https://twitter.com/bertalanivan">Ivan Bertalan</a></p>
						<p><a href = "https://twitter.com/dottorblaster">Alessio Biancalana</a></p>
						<p><a href = "https://twitter.com/ogdabaum">Marco Boscolo</a></p>
						<p><a href = "https://twitter.com/mbrandizi">Marco Brandizi</a></p>
						<p><a href = "https://twitter.com/foebu">Francesco Emanuele Bucci</a></p>
						<p><a href = "https://twitter.com/KodeSolutions">Marco Calderisi</a></p>
						<p><a href = "https://twitter.com/sigisbaldo">Stefano Capezzuto</a></p>
						<p><a href = "https://twitter.com/jenkin27">Alessio Cimarelli</a></p>
						<p><a href = "https://twitter.com/MaraCinquepalmi">Mara Cinquepalmi</a></p>
						<p><a href = "https://twitter.com/chiaracio">Chiara Ciociola</a></p>
						<p><a href = "https://twitter.com/lucacorsato">Luca Corsato</a></p>
						<p><a href = "https://twitter.com/simonecortesi">Simone Cortesi</a></p>

					</div>
					<div class = "span2">
						<strong>Cosa ha fatto</strong>
						<p>Raccolta dati</p>
						<p>Raccolta dati</p>
						<p>Sviluppo app</p>
						<p>Raccolta dati</p>
						<p>Raccolta dati</p>
						<p>Raccolta dati</p>
						<p>Raccolta dati</p>
						<p>Raccolta dati</p>
						<p>Sviluppo app</p>
						<p>Raccolta dati</p>
						<p>Raccolta dati</p>
						<p>Raccolta dati, debug, video, logo</p>
						<p>Raccolta dati</p>
					</div>
					<div class = "span2">
						<strong>Chi è</strong>
						<p><a href = "https://twitter.com/alberto_cottica">Alberto Cottica</a></p>
						<p><a href = "https://twitter.com/MicheledAlena">Michele d'Alena</a></p>
						<p><a href = "https://twitter.com/tdellungo">Tommaso Del Lungo</a></p>
						<p><a href = "https://twitter.com/StefanoDuri">Stefano Durì</a></p>
						<p><a href = "https://twitter.com/vincenzoerrante">Vincenzo Errante</a></p>
						<p><a href = "https://twitter.com/karl_off">Carlo Fava</a></p>
						<p><a href = "https://twitter.com/giacomogamba">Giacomo Gamba</a></p>
						<p><a href = "https://twitter.com/gaspariniandrea">Andrea Gasparini</a></p>
						<p><a href = "https://twitter.com/paolomainardi">Paolo Mainardi</a></p>
						<p><a href = "https://twitter.com/nelsonmau">Andrea Nelson Mauro</a></p>
						<p><a href = "https://twitter.com/lucamenini">Luca Menini</a></p>
						<p><a href = "https://twitter.com/eccoilmoro">Franco Morelli</a></p>
					</div>
					<div class = "span2">
						<strong>Cosa ha fatto</strong>
						<p>Pagine statiche</p>
						<p>Raccolta dati</p>
						<p>Raccolta dati</p>
						<p>Raccolta dati</p>
						<p>Raccolta dati</p>
						<p>Raccolta dati</p>
						<p>Raccolta dati</p>
						<p>Sviluppo app</p>
						<p>Sviluppo app</p>
						<p>Instigator, dataset building</p>
						<p>Raccolta dati</p>
						<p>Raccolta dati</p>
					</div>
					<div class = "span2">
						<strong>Chi è</strong>
						<p><a href = "https://twitter.com/Morpheus80ta">Marco Pagliarulo</a></p>
						<p><a href = "https://twitter.com/andypanix">Andrea Panisson</a></p>
						<p><a href = "https://twitter.com/perugini">Luca Perugini</a></p>
						<p><a href = "https://twitter.com/martapieroni">Marta Pieroni</a></p>
						<p><a href = "https://twitter.com/sigmaseisas">Paolo Polverosi</a></p>
						<p><a href = "https://twitter.com/morenaragone">Morena Ragone</a></p>
						<p><a href = "https://twitter.com/seralf">Alfredo Serafini</a></p>
						<p><a href = "https://twitter.com/elisabetta_tola">Elisabetta Tola</a></p>
						<p><a href = "https://twitter.com/capitanachab">Luca Zanelli</a></p>
						<p><a href = "https://twitter.com/AubreyMcFato">Andrea Zanni</a></p>
						<p><a href = "https://twitter.com/andria_tzedda">Andrea Zedda</a></p>
						<p><a href = "https://twitter.com/Fabiazep">Fabiana Zeppieri</a></p>
					</div>
					<div class = "span2">
						<strong>Cosa ha fatto</strong>
						<p>Sviluppo app</p>
						<p>Sviluppo app</p>
						<p>Raccolta dati</p>
						<p>Raccolta dati</p>
						<p>Raccolta dati</p>
						<p>Legals</p>
						<p>Sviluppo app</p>
						<p>Raccolta dati</p>
						<p>Raccolta dati</p>
						<p>Raccolta dati</p>
						<p>Raccolta dati</p>
						<p>Raccolta dati</p>
					</div>
				</div>


            <!-- <p><a class="btn btn-primary btn-large">Learn more &raquo;</a></p> -->
          </div>
        </div><!--/span-->
    </div><!--/row-->

    <hr>

      <footer>

        <a href="http://www.iubenda.com/privacy-policy/324506" class="iubenda-white iubenda-embed" title="Privacy Policy">Privacy Policy</a><script type="text/javascript">(function (w,d) {var loader = function () {var s = d.createElement("script"), tag = d.getElementsByTagName("script")[0]; s.src = "http://cdn.iubenda.com/iubenda.js"; tag.parentNode.insertBefore(s,tag);}; if(w.addEventListener){w.addEventListener("load", loader, false);}else if(w.attachEvent){w.attachEvent("onload", loader);}else{w.onload = loader;}})(window, document);</script>

      </footer>

    </div><!--/.fluid-container-->
<% include includes/footer %>
