<% include includes/header %>
<a id="fork-me" href="https://github.com/spaghetti-open-data/twitantonio" target="_blank"><img style="position: absolute; top: 0; right: 0; border: 0; z-index: 10000;" src="https://s3.amazonaws.com/github/ribbons/forkme_right_green_007200.png" alt="Fork me on GitHub"></a>
<div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container-fluid">
            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>
            <a class="brand" href="<%= config.base_path %>">#<%= config.app_title %></a>
            <div class="nav-collapse collapse">
                <!--
                <p class="navbar-text pull-right">
                  Logged in as <a href="#" class="navbar-link">Username</a>
                </p>
                -->
                <ul class="nav">
                    <li class="active">
                        <a href="<%= config.base_path %>">Home
                        </a>
                    </li>
                    <!-- <li><a href="<%= config.base_path %>mappa">Mappa</a></li> -->
					<li><a href="<%= config.base_path %>cos_e">Info</a></li>
					<li><a href="<%= config.base_path %>credits">Applausi</a></li>
                    <li><a href="<%= config.base_path %>help">Sei candidato? Aggiungi il tuo nome!</a></li>
                </ul>

            <% if (config.twitter_auth) { %>
                <ul class="nav pull-right">
                  <% if (req.loggedIn === false) { %>
                    <li>
                        <a href="<%= config.base_path %>auth/twitter">
                            <i class="icon-shopping-cart icon-large icon-twitter-sign"></i> Loggati con Twitter 
                        </a>
                    </li>
                  <% } else { %>
                    <!-- auth users -->
                    <li id="fat-menu" class="dropdown">
                        <a href="#" id="drop3" role="button" class="dropdown-toggle" data-toggle="dropdown"> 
                            <img src="http://a0.twimg.com/profile_images/1244988041/p-ff6a317e7d1b11ddb25f003048343a40-medium-1000_mini.jpg"/> Ciao, <%= user.name %> 
                            <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu" role="menu" aria-labelledby="drop3">
                            <li>
                                <a tabindex="-1" href="<%= config.base_path %>logout">Logout
                                </a>
                            </li>
                            <!--
                              <li><a tabindex="-1" href="#">Another action</a></li>
                              <li><a tabindex="-1" href="#">Something else here</a></li>
                              <li class="divider"></li>
                              <li><a tabindex="-1" href="#">Separated link</a></li>
                            -->
                        </ul>
                    </li>
                  <% } %>
                </ul>
              <% } %>
            </div><!--/.nav-collapse -->
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row-fluid">
        <div id="left-sidebar" class="span3">
            <div class="well sidebar-nav">

                <a class="twitsearch" href="https://twitter.com/search?q=%23twitantonio" target="_blank">
                    <img src="https://dev.twitter.com/sites/default/files/images_documentation/bird_blue_16.png">
                    <strong>Cerca #twitantonio</strong>
                </a>
                <form class="form-vertical">
                    <div>In questo momento sono presenti gli account twitter di <strong style="color: #FF0000;"><%= meps.length %> </strong> candidati su <strong style="color: #FF0000;"> 3221 </strong> verificati</div>
                    <legend>Cerca il tuo candidato</legend>
                    <div class="control-group">
                        <!-- Search input-->
                        <label for="dep_name" class="control-label">Nome</label>
                        <div class="controls">
                            <input type="text" name="mep_name" id="dep_name" placeholder="Nome" class="input-medium search-query" value="<%= (req.query.mep_name ? req.query.mep_name : '') %>">
                            <p class="help-block"></p>
                        </div>

                        <!--
                          Search for Circoscrizione
                        -->
                        <div class="controls">
                            <label for="dep_country" class="control-label">Circoscrizione</label>
                            <input type="text" name="mep_country" id="dep_country" placeholder="(es: Abruzzo)" class="input-medium search-query" value="<%= (req.query.mep_country ? req.query.mep_country : '') %>">
                            <p class="help-block"></p>
                        </div>
              
                        <!--
                          Search for Colazione
                        -->                
                        <div class="controls">
                            <label for="dep_party" class="control-label">Partito</label>
                            <!--
                            <select class="input-medium" name="mep_localParty" id="dep_party">
                              <option value="">- Seleziona -</option>      
                                <%
                                var partiti = config.partiti;
                                for (var key in partiti) { %>
                                  <option value="<%= key %>" <%= (key === req.query.faction) ? "selected=\"selected\"" : '' %> > <%= partiti[key] %> </option>
                              <% } %>
                            </select>
                            -->
                            <input type="text" name="mep_localParty" id="dep_party" placeholder="Partito" class="input-medium search-query" value="<%= (req.query.mep_localParty ? req.query.mep_localParty : '') %>">
                        </div>

                        <!--
                          Search for Schieramento
                        -->                
                        <div class="controls">
                            <label for="schieramento" class="control-label">Schieramento</label>
                            <select class="input-medium" name="faction" id="schieramento">
                              <option value="">- Seleziona -</option>      
                                <%
                                var factionNames = config.factionNames;
                                for (var key in factionNames) { %>
                                  <option value="<%= key %>" <%= (key === req.query.faction) ? "selected=\"selected\"" : '' %> > <%= factionNames[key] %> </option>
                              <% } %>
                            </select>
                        </div>

                        <!--
                          Search for Parlamento (specific for #twitantonio)
                        -->                
                        <div class="controls">
                            <label for="parlamento" class="control-label">Parlamento</label>
                            <select class="input-medium" name="parlamento" id="parlamento">
                              <option value="">- Seleziona -</option>      
                             <%
                                var parlamento = config.parlamento;
                                for (var key in parlamento) { %>
                                  <option value="<%= key %>" <%= (key === req.query.parlamento) ? "selected=\"selected\"" : '' %> > <%= parlamento[key] %> </option>
                              <% } %>
                            </select>
                        </div>
                        <!--
                          Order by
                        -->                
                        <div class="controls">
                            <label for="sorting" class="control-label">Ordina per:</label>
                            <select class="input-medium" name="sorting" id="sorting">
                              <option value="">- Non ordinato -</option>
                             <%
                                var sorting = config.sorting;
                                for (var key in sorting) { %>
                                  <option value="<%= key %>" <%= (key === req.query.sorting) ? "selected=\"selected\"" : '' %> > <%= sorting[key] %> </option>
                              <% } %>
                            </select>
                        </div>
                      
                      <!-- 
                       <div class="controls">
                            <label for="sorting" class="control-label">Tipo ordinamento:</label>
                            <select class="input-medium" name="sort_type" id="sort_type">
                              <option value="">- Seleziona -</option>
                              <option value="asc">  Crescente </option>
                              <option value="desc">  Decrescente </option>
                            </select>
                        </div>
                      -->
                    
                    </div>
                
                    <div class="control-group">
                        <label class="control-label"></label>
                        <!-- Button -->
                        <div class="form-actions">  
                            <button type="submit" class="btn btn-primary">Cerca</button>  
                            <button class="btn btn-danger btn-reset">Reset</button> 
                        </div>  
                    </div>
                </form>

                <div class="img-wr">
                    <img src="<%= config.base_path %>images/votantonio_new.jpg" />
                </div>
                
                <div id="tweet-flow">
                    <h3>Tweet flow</h3>
                    <small>
                      <p>
                       <a href="https://twitter.com/search?q=%23twitantonio">#twitantonio</a>
                       <a href="https://twitter.com/search?q=%23twpol13">#elezioni2013</a>
                      </p>
                    </small>
                    <script charset="utf-8" src="http://widgets.twimg.com/j/2/widget.js"></script>
                    <script>
                    new TWTR.Widget({
                      version: 2,
                      type: 'search',
                      search: '#twitantonio OR #elezioni2013',
                      interval: 30000,
                      title: '',
                      subject: '',
                      width: 'auto',
                      height: 'auto',
                      theme: {
                        shell: {
                          background: '#ffffff',
                          color: '800'
                        },
                        tweets: {
                          background: 'f7f7f7',
                          color: '247',
                          links: '247'
                        }
                      },
                      features: {
                        scrollbar: true,
                        loop: false,
                        live: true,
                        behavior: 'all'
                      }
                    }).render().start();
                    </script>
                </div>

                    <!-- privacy policy button -->
                <a href="http://www.iubenda.com/privacy-policy/434217" class="iubenda-white iubenda-embed" title="Privacy Policy">Privacy Policy</a><script type="text/javascript">(function (w,d) {var loader = function () {var s = d.createElement("script"), tag = d.getElementsByTagName("script")[0]; s.src = "http://cdn.iubenda.com/iubenda.js"; tag.parentNode.insertBefore(s,tag);}; if(w.addEventListener){w.addEventListener("load", loader, false);}else if(w.attachEvent){w.attachEvent("onload", loader);}else{w.onload = loader;}})(window, document);</script>
  
            </div>
        </div> <!--/sidebar -->

        <section id="content" class="span9">  
          <!-- loop through meps -->
          <% for (var i = 0; i < meps.length; i++) { %>
            <article id="candidate-<%= i %>" class="candidate thumbnail"><!-- thumbnail is a bootstrap class -->
                <h2><%= meps[i].mep_firstName + ' ' + meps[i].mep_lastName %></h2>
                <div class="top-content">
                    <a class="twitter" href="https://twitter.com/intent/user?screen_name=<%= meps[i].mep_twitterUserName %>">
                        <img style="width: 16px; height: auto" src="https://dev.twitter.com/sites/default/files/images_documentation/bird_blue_32.png" /><%= meps[i].mep_twitterUserName %>
                    </a>
                    
                    <div class="user_counters">
                       <a class="counter" href="javascript:void(0)" rel="tooltip" data-placement="top" title="<%= meps[i].mep_follower_count ? meps[i].mep_follower_count_format : 0 %> followers">
                        <i class="icon-twitter"></i> <%= meps[i].mep_follower_count ? meps[i].mep_follower_count_format : 0 %>
                      </a>
                      <a class="counter" href="javascript:void(0)" rel="tooltip" data-placement="top" title="<%= meps[i].mep_tweet_count ? meps[i].mep_tweet_count_format : 0 %> tweet">
                        <i class="icon-comments"></i> <%= meps[i].mep_tweet_count ? meps[i].mep_tweet_count_format : 0 %>
                      </a>
                    </div>

                    <!-- Original implementation -->
                     <!--
                    <a class="counter reply" href="javascript:void(0)" rel="tooltip" data-placement="top" title="5 risposte ricevute"><span></span>5</a>
                    -->
                    <!--
                    <a class="counter retweet" href="javascript:void(0)" rel="tooltip" data-placement="top" title="3 retweet ricevuti"><span></span>3</a>
                    -->
                  
                </div>
                <div class="middle-content">
                    <a class="avatar-wr" href="https://twitter.com/intent/user?screen_name=<%= meps[i].mep_twitterUserName %>">
                        <img width="73" height="73" data-original="<%= meps[i].mep_epFotoUrl %>" src="<%= config.base_path %>images/grey.gif" class="photo img-rounded lazy" />
                    </a>
                    <noscript>
                        <img src="<%= meps[i].mep_epFotoUrl %>" class="img-rounded lazy">
                    </noscript>

                    <ul>
                      <!--
                        <li class="country">
                            <a href="<%= config.base_path %>?mep_localParty=&mep_name=&mep_country=<%= meps[i].mep_country %>&mep_faction=" rel="tooltip" data-placement="top" title="Circoscrizione: <%= meps[i].mep_country %>">
                                <i class="icon-globe"></i> <%= meps[i].mep_country %>
                            </a>
                        </li>
                      -->
                        <li class="local-party">
                            <a href="<%= config.base_path %>?mep_name=&mep_country=&mep_localParty=<%= meps[i].mep_localParty %>" rel="tooltip" data-placement="top" title="<%= meps[i].mep_localParty %>">
                                <i class="icon-flag"></i> <%= meps[i].mep_localParty %>
                            </a>
                        </li>
                        <li class="local-position" style="text-transform: capitalize;">                            
                            <a href="<%= config.base_path %>?mep_name=&mep_country=&mep_localParty=&parlamento=<%= meps[i].parlamento %>" rel="tooltip" data-placement="top" title="<%= meps[i].parlamento %>">
                                <i class="icon-home"></i> <%= meps[i].parlamento %> 
                            </a>
                        </li>
                         <li class="local-faction" style="text-transform: capitalize;">                            
                            <a href="<%= config.base_path %>?&faction=<%= meps[i].mep_faction %>" title="<%= config.factionNames[meps[i].mep_faction] %>">
                                <i class="icon-group"></i> <%= config.factionNames[meps[i].mep_faction] %> 
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="bottom-content pagination-right">
                    <div class="more">
                        <a class="btn btn-mini" href="javascript:void(0)" rel="popover" data-html="true" data-placement="right" data-original-title="<%= meps[i].mep_firstName + ' ' + meps[i].mep_lastName %>">
                            <i class="icon-zoom-in"></i> Altro...
                        </a>                    
                    </div>

                    
                    <!--
                    <div class="tweet-count">
                      <ul>
                        <li>
                          <i class="icon-twitter"></i> <a href="javascript:void(0)" rel="tooltip" data-placement="top" title="Seguito da <%= meps[i].mep_follower_count ?  meps[i].mep_follower_count_format : 0  %> follower "><%= meps[i].mep_follower_count ? meps[i].mep_follower_count_format : 0 %></a> 
                        </li>
                        <li> 
                          <i class="icon-comments"></i> <a href="javascript:void(0)" rel="tooltip" data-placement="top" title="Numero di tweet inviati <%= meps[i].mep_tweet_count ?  meps[i].mep_tweet_count_format : 0  %>"><%= meps[i].mep_tweet_count ? meps[i].mep_tweet_count_format : 0 %></a>
                        </li>
                      </ul>
                    </div> 
                    -->
                    
                    <a href="http://twitter.com/intent/tweet/?text=@<%= meps[i].mep_twitterUserName %>&hashtags=twitantonio" class="btn btn-success">Tweet
                    </a> 
                    <!-- <a href="https://twitter.com/intent/user?screen_name=<%= meps[i].mep_twitterUserName %>" class="btn">Follow</a> -->
                </div>
            </article>
          <% } %> 
        </section><!--/span-->
    </div><!--/row-->

    <hr>
        
        <footer>
            <p>&copy; Spaghetti Open Data </p>
        </footer>
</div><!--/.fluid-container-->
<div  class="popovers-content" style="display: none">
<% for (var i = 0; i < meps.length; i++) { %>
   <div id="popover-<%= i %>"> 
      <%- meps[i].formatted_properties %>
   </div>
<% } %> 
</div>
<% include includes/footer %>
