<% include includes/header %>
<div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container-fluid">
            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>
            <h1><a class="brand" href="<%= config.base_path %>"><%= config.app_title %> </a></h1>
            <div class="nav-collapse collapse">
                <!--
                <p class="navbar-text pull-right">
                  Logged in as <a href="#" class="navbar-link">Username</a>
                </p>
                -->
                <ul class="nav">
                    <li class="active">
                        <a href="<%= config.base_path %>">Home
                        </a>
                    </li>
                    <!-- <li><a href="<%= config.base_path %>mappa">Mappa</a></li> -->
                    <!-- <li><a href="<%= config.base_path %>italiano">Italiano</a></li> -->
                    <!-- <li><a href="#contact">Contact</a></li> -->
                </ul>
            </div><!--/.nav-collapse -->
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row-fluid">

        <div id="left-sidebar" class="span3">
            <div class="well sidebar-nav">
            <a class="twitsearch" href="https://twitter.com/search?q=%23twpol13" target="_blank">
                <img src="https://dev.twitter.com/sites/default/files/images_documentation/bird_blue_16.png">
                <strong>Cerca #twpol13</strong>
            </a>
            <form class="form-vertical">
                <legend>Cerca il tuo candidato</legend>
                <div class="control-group">
                    <!-- Search input-->
                    <label class="control-label">Nome</label>
                    <div class="controls">
                        <input type="text" name="mep_name" placeholder="Nome" class="input-medium search-query" value="<%= (req.query.mep_name ? req.query.mep_name : '') %>">
                            <p class="help-block"></p>
                    </div>

                    <!--
                      Search for Circoscrizione
                    -->
                    <div class="controls">
                        <label class="control-label">Circoscrizione</label>
                        <input type="text" name="mep_country" placeholder="(es: Abruzzo)" class="input-medium search-query" value="<%= (req.query.mep_country ? req.query.mep_country : '') %>">
                            <p class="help-block"></p>
                    </div>
              
                    <!--
                      Search for Colazione
                    -->                
                    <div class="controls">
                        <label class="control-label">Lista</label>
                        <input type="text" name="mep_localParty" placeholder="Lista" class="input-medium search-query" value="<%= (req.query.mep_localParty ? req.query.mep_localParty : '') %>">
                            <p class="help-block"></p>
                    </div>
                </div>
                
                <div class="control-group">
                    <label class="control-label"></label>
                    <!-- Button -->
                    <div class="form-actions">  
                        <button type="submit" class="btn btn-primary">Cerca</button>  
                        <button class="btn btn-danger btn-reset">Reset</button> 
                    </div>  
                </div>
                
                <div class="img-wr">
                    <img src="<%= config.base_path %>images/votantonio.jpg" />
                </div>

            </form>

            <!-- privacy policy button -->
            <a href="http://www.iubenda.com/privacy-policy/324506" class="iubenda-white iubenda-embed" title="Privacy Policy">Privacy Policy</a>
            <script type="text/javascript">(function (w,d) {var loader = function () {var s = d.createElement("script"), tag = d.getElementsByTagName("script")[0]; s.src = "http://cdn.iubenda.com/iubenda.js"; tag.parentNode.insertBefore(s,tag);}; if(w.addEventListener){w.addEventListener("load", loader, false);}else if(w.attachEvent){w.attachEvent("onload", loader);}else{w.onload = loader;}})(window, document);</script>       
            </div>
        </div> <!--/sidebar -->

        <section id="content" class="span9">  
            <!-- loop through meps -->
          <% counter = 0 %>
          <% for (var i = 0; i < meps.length; i++) { %>
            <article class="candidate thumbnail"><!-- thumbnail is a bootstrap class -->
                <img width="210" height="210" data-original="<%= meps[i].mep_epFotoUrl %>" src="<%= config.base_path %>images/grey.gif" class="photo img-rounded lazy" />
                <noscript>
                    <img src="<%= meps[i].mep_epFotoUrl %>" class="img-rounded lazy">
                </noscript>

                <!--
                 <div style="float:left; width:90px; max-height:215px;"
                    <dl>
                      <dt>Country:</dt> <dd><%= meps[i].mep_country %></dd>
                      <dt>Faction:</dt> <dd><%= meps[i].mep_faction %></dd>
                      <dt>Local Party:</dt> <dd><%= meps[i].mep_localParty %></dd>
                    </dl>
                  </div>
                -->

                <div class="caption">
                    <h2><%= meps[i].mep_firstName + ' ' + meps[i].mep_lastName %>
                    </h2>
                    <ul>
                        <li class="mep-info">
                            <i class="icon-globe"></i>
                            <a href="<%= config.base_path %>?mep_localParty=&mep_name=&mep_country=<%= meps[i].mep_country %>&mep_faction=" rel="tooltip" data-placement="top" title="Circoscrizione: <%= meps[i].mep_country %>"><%= meps[i].mep_country %>
                            </a>
                        </li>
                        <li class="mep-info">
                            <i class="icon-home"></i>
                            <a href="<%= config.base_path %>?mep_name=&mep_country=&mep_localParty=<%= meps[i].mep_localParty %>" rel="tooltip" data-placement="top" title="<%= meps[i].mep_localParty %>"><%= meps[i].mep_localParty %>
                            </a>
                        </li>

                    </ul>
                    <!--
                    <span class="divider">/</span>
                    <span class="mep-info">
                      <i class="icon-zoom-in"></i>
                      <div class="popover-content" style="display: none;"> 
                        <%- meps[i].formatted_properties %>
                      </div>
                      <a href="javascript:void(0)" rel="popover" data-placement="bottom" data-original-title="<%= meps[i].mep_firstName + ' ' + meps[i].mep_lastName %>"> More </a>
                    </span>
                    -->
                    
                    <a class="twitter" href="https://twitter.com/intent/user?screen_name=<%= meps[i].mep_twitterUserName %>">
                        <img src="https://dev.twitter.com/sites/default/files/images_documentation/bird_blue_32.png" /><%= meps[i].mep_twitterUserName %>
                    </a>
                    
                </div>
                <div class="pagination-centered">
                    <a href="http://twitter.com/intent/tweet/?text=@<%= meps[i].mep_twitterUserName %>&hashtags=twpol13, twitantonio" class="btn btn-success">Tweet
                    </a> 
                    <!-- <a href="https://twitter.com/intent/user?screen_name=<%= meps[i].mep_twitterUserName %>" class="btn">Follow</a> -->
                </div>
            </article>
            <% counter++; %>
          <% } %> 
        </section><!--/span-->
    </div><!--/row-->

    <hr>
        <footer>
            <p>&copy; Spaghetti Open Data </p>
        </footer>
</div><!--/.fluid-container-->
<% include includes/footer %>
