<% include includes/header %>
    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container-fluid">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="<%= config.base_path %>"><%= config.app_title %></a>
          <div class="nav-collapse collapse">
            <!--
            <p class="navbar-text pull-right">
              Logged in as <a href="#" class="navbar-link">Username</a>
            </p>
            -->
            <ul class="nav">
              <li><a href="<%= config.base_path %>">Home</a></li>
              <li class="active"><a href="<%= config.base_path %>mappa">Mappa</a></li>
              <li><a href="<%= config.base_path %>cos_e">Info</a></li>
			  <li><a href="<%= config.base_path %>credits">Applausi</a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

    <div class="container-fluid">
      <div class="row-fluid">

  <div class="span3">
    <div class="well sidebar-nav">
      <ul class="nav nav-list">
        <h5>
          <img src="https://dev.twitter.com/sites/default/files/images_documentation/bird_blue_16.png">
          <a href="https://twitter.com/search?q=%23twpol13" target="_blank">Cerca #twpol13</a>
        </h5>
        <li>
          <form class="form-vertical" action="<%= config.base_path %>">
            <fieldset>
              <div id="legend" class="">
                <legend class="">Cerca il tuo candidato</legend>
              </div>
              <div class="control-group">
                <!-- Search input-->
                <label class="control-label">Nome</label>
                <div class="controls">
                  <input type="text" name="mep_name" placeholder="Nome" class="input-medium search-query" value="<%= (req.query.mep_name ? req.query.mep_name : '') %>">
                  <p class="help-block"></p>
                </div>

                <!--
                  Search for Circoscrizione
                -->
                <div class="controls">
                  <label class="control-label">Circoscrizione</label>
                  <input type="text" name="mep_country" placeholder="(ex: Abruzzo)" class="input-medium search-query" value="<%= (req.query.mep_country ? req.query.mep_country : '') %>">
                  <p class="help-block"></p>
                </div>
              

                <!--
                  Search for Colazione
                -->                
                <div class="controls">
                  <label class="control-label">Lista</label>
                  <input type="text" name="mep_localParty" placeholder="Lista" class="input-medium search-query" value="<%= (req.query.mep_localParty ? req.query.mep_localParty : '') %>">
                  <p class="help-block"></p>
                </div>
                </div>
                
              <div class="control-group">
                  <label class="control-label"></label>
                  <!-- Button -->
              <div class="form-actions">  
                <button type="submit" class="btn btn-primary">Cerca</button>  
                <button class="btn btn-danger btn-reset">Reset</button> 
              </div>  
             </div>
             <img src="<%= config.base_path %>images/votantonio.jpg" />

            </fieldset>
          </form>
        </li>
      </ul>
    </div> 

    <!-- privacy policy button -->
    <a href="http://www.iubenda.com/privacy-policy/324506" class="iubenda-white iubenda-embed" title="Privacy Policy">Privacy Policy</a><script type="text/javascript">(function (w,d) {var loader = function () {var s = d.createElement("script"), tag = d.getElementsByTagName("script")[0]; s.src = "http://cdn.iubenda.com/iubenda.js"; tag.parentNode.insertBefore(s,tag);}; if(w.addEventListener){w.addEventListener("load", loader, false);}else if(w.attachEvent){w.attachEvent("onload", loader);}else{w.onload = loader;}})(window, document);</script>       

    </div> <!--/sidebar -->

      <div class="span9">  
        <h3> Cerca il candidato usando la mappa </h3>
        <div id="map_svg_container">
          <embed src="<%= config.base_path %>images/italia_regioni.svg" type="image/svg+xml" />   
        </div>
      </div><!--/row-->

      <hr>

      <footer>
        <p>&copy; Spaghetti Open Data </p>
      </footer>
    </div><!--/.fluid-container-->
    <% include includes/footer %>

