<% include includes/header %>
    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container-fluid">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="<%= config.base_path %>">#<%= config.app_title %></a>
          <div class="nav-collapse collapse">
            <!--
            <p class="navbar-text pull-right">
              Logged in as <a href="#" class="navbar-link">Username</a>
            </p>
            -->
            <ul class="nav">
              <li><a href="<%= config.base_path %>">Home</a></li>
			  <!-- <li><a href="<%= config.base_path %>mappa">Mappa</a></li> -->
              <li><a href="<%= config.base_path %>cos_e">Info</a></li>
			        <li><a href="<%= config.base_path %>credits">Applausi</a></li>
              <li><a href="<%= config.base_path %>help">Sei candidato? Aggiungi il tuo nome!</a></li>
              <li class="active"><a href="<%= config.base_path %>video">Video</a></li>
              <!-- <li><a href="#contact">Contact</a></li> -->
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

    <div class="container-fluid">
      <div class="row-fluid">
        <div class="span12">
          <div class="hero-unit">
            <h1>TwitAntonio</h1>
            <br />
            <p> <INSERISCI IL TESTO QUI </p>
            <p>In questa pagina rimettiamo insieme i trailer che hanno accompagnato la nascita di Twitantonio, cucinati per benino da <a href="http://twitter.com/lucacorsato" target="_blank">Luca Corsato</a></p><br>
            <p> tutti i video sono riusabili con licenza <a href="http://creativecommons.org/licenses/by/3.0/deed.it" target="_blank">CC-BY</a> Spaghetti Open Data - luca corsato </p><br> 
            <p> <iframe width="560" height="315" src="http://www.youtube.com/embed/2CmWP7MgQU4" frameborder="0" allowfullscreen></iframe>
            </p>
            <p><iframe width="560" height="315" src="http://www.youtube.com/embed/53ePUyz8pYg" frameborder="0" allowfullscreen></iframe> 
            </p>
            <p><iframe width="560" height="315" src="http://www.youtube.com/embed/D_uNeZR6A_E" frameborder="0" allowfullscreen></iframe> 
            </p>
            <p><iframe width="560" height="315" src="http://www.youtube.com/embed/hGv_ofNqmCI" frameborder="0" allowfullscreen></iframe> 
            </p>

            <!-- <p><a class="btn btn-primary btn-large">Learn more &raquo;</a></p> -->
	    <p style="float:right;">Questo è un progetto di <a href="http://www.spaghettiopendata.org" target="_blank"><strong>Spaghetti Open Data</strong></a></p>
          </div>
        </div><!--/span-->

      </div><!--/row-->

      <hr>

      <footer>
	
        <a href="http://www.iubenda.com/privacy-policy/324506" class="iubenda-white iubenda-embed" title="Privacy Policy">Privacy Policy</a><script type="text/javascript">(function (w,d) {var loader = function () {var s = d.createElement("script"), tag = d.getElementsByTagName("script")[0]; s.src = "http://cdn.iubenda.com/iubenda.js"; tag.parentNode.insertBefore(s,tag);}; if(w.addEventListener){w.addEventListener("load", loader, false);}else if(w.attachEvent){w.attachEvent("onload", loader);}else{w.onload = loader;}})(window, document);</script>

      </footer>

    </div><!--/.fluid-container-->
<% include includes/footer %>
